// Remove the vanilla css rules.
@import 'normalize';

// Sass partials
@import 'variables';
@import 'fonts';

#gameCanvas {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.bg {
  align-items: center;
  background: linear-gradient(141deg, rgba(78,148,255,0.8) 0%, rgba(67,254,247,0.8) 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}

.title {
  color: white;
  font-family: 'changeling-neo', sans-serif;
  font-size: 76px;
  line-height: 72px;
  max-width: 500px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0 }
   50% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes fadeIn {
    0% { opacity: 0; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  display: inline-block;
  width: 500px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.navbar {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 10px 0;
}


.navbar-item {
  cursor: pointer;
  flex-grow: 1;

  &:hover {
    .img {
      &.player {
        background: url('/assets/img/player-active.svg');
      }
      &.lobby {
        background: url('/assets/img/lobby-active.svg');
      }
      &.controls {
        background: url('/assets/img/controls-active.svg');
      }
    }

    p {
      color: #5A99D5;
    }
  }

  .img {
    height: 40px;
    margin: 0 auto;
    transition: background 0.3s;
    width: 40px;

    &.player {
      background: url('/assets/img/player-default.svg');
      &.active {
        background: url('/assets/img/player-active.svg');
      }
    }
    &.lobby {
      background: url('/assets/img/lobby-default.svg');
      &.active {
        background: url('/assets/img/lobby-active.svg');
      }
    }
    &.controls {
      background: url('/assets/img/controls-default.svg');
      &.active {
        background: url('/assets/img/controls-active.svg');
      }
    }
  }

  p {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0;
    transition: color 0.3s;

    &.active {
      color: #5A99D5;
    }
  }
}

.button {
  color: white;
  background-color: #5A99D5;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 25px 0;
  transition: background-color 0.3s;
  width: 500px;

  &:hover {
    background-color: #488bcb;
  }
  
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.player-settings {
  display: flex;
  padding: 20px;

  .display-name {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    margin-right: 20px;

    .text-input {
      border: 1px solid #aaa;
      border-radius: 3px;
      color: #666;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      padding: 0 0 0 10px;
      height: 40px;
      text-transform: uppercase;

      &:focus {
        outline: none;
      }
    }
  }

  .game-mode {
    display: flex;
    flex-direction: column;

    .game-mode-select {
      border: 1px solid #aaa;
      border-radius: 3px;
      height: 40px;
      padding: 0 7px 0 2px;
      display: flex;

      select {
        border: none;
        background: transparent;
        color: #666;
        font-family: 'Lato', sans-serif;
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

label {
  text-align: left;
  color: #aaa;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
