// Remove the vanilla css rules.
@import 'normalize';

// Sass partials
@import 'variables';
@import 'fonts';

#gameCanvas {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.testing-button {
  position: absolute;

  top: 20px;
  left: 20px;

  width: auto;
  height: auto;

  padding: 4px;
}

.send-hi-message-button {
  top: 60px !important;
}

.lobbies-info-message-button {
  top: 100px !important;
}
