<noscript>
  alert("Please enable javascript to play this game.");
</noscript>

{{!-- <p class="homepage-text">Homepage</p> --}}

<canvas id="gameCanvas"></canvas>

<button class="testing-button join-game-button">Join Game</button>
<button class="testing-button send-hi-message-button">Send 'Hi' Msg</button>